.maintenance.partial.hide
  table(class="table")
    tr
      td
        a(href="" ng-click="showTables(room.id)" class="btn btn-primary") Show tables
      td
        a(href="" ng-click="editTableConfig(table.id)" class="btn btn-primary") Edit