.playerprof.partial
  .navbar-collapse.collapse.navbar-responsive-collapse.pull-right
    ul(class="nav navbar-nav")
      li
        a(href="#")
          span#name ABC
          | &nbsp;||
          span#token XYZ