// Analy Req: 7
// Top 10 player of that agent which giving maximum revenue

.agentTopPlayer.hide.partial
  nav(class="container-fluid")
    .container-fluid
      .navbar-header
        .collapse.navbar-collapse
         br
         br

         table(class="table table-bordered")
          thead
           tr
            td Agent
            td Player
            td Drop Amount
           tbody
            tr(ng-repeat="drop in top10PlayerAgentDrops")
             td {{drop.transRcvr}}
             td {{drop.transInit}}
             td {{drop.money}}