extends layout

block content
  include partials/sign_in
  include partials/sign_up
  include partials/rooms
  include partials/table
  include partials/tables
  include partials/newregistrations
  include partials/editplayer
  include partials/enabledplayer
  include partials/allrooms
  include partials/topacc
  include partials/editroom
  include partials/board
  include partials/maintenance
  include partials/fundtrfr
  include partials/fundwdrw
  include partials/showwtdr
  include partials/transhist
  include partials/createagent
  include partials/agents
  include partials/analytics/admin/1
  include partials/analytics/admin/2
  include partials/analytics/admin/3
  include partials/analytics/admin/4
  include partials/analytics/admin/5
  include partials/analytics/agent/1
  include partials/analytics/agent/2
  include partials/analytics/agent/3