extends layout

block content
  include partials/sign_in
  include partials/sign_up
  include partials/rooms
  include partials/table
  include partials/tables
  include partials/newregistrations
  include partials/editplayer
  include partials/enabledplayer
  include partials/allrooms
  include partials/topacc
  include partials/editroom
  include partials/board
  include partials/maintenance
  include partials/fundtrfr
  include partials/fundwdrw
  include partials/showwtdr
  include partials/transhist
  include partials/createagent
  include partials/agents
  include partials/analytics/admin/adminDrop
  include partials/analytics/admin/adminDropByAgent
  include partials/analytics/admin/adminTip
  include partials/analytics/admin/top10PlayerOfAgent
  include partials/analytics/admin/top20PlayerDrop
  include partials/analytics/agent/agentDrop
  include partials/analytics/agent/playerTransaction
  include partials/analytics/agent/top10PlayerAgent