<html>
<head>

</head>
<body>
<form enctype="multipart/form-data" action="/users/upload" method="post">
    <select name="gamename">
        <option value="Poker">Poker</option>
        <option value="BlackJack">Black Jack</option>
        <option value="Roulette">Roulette</option>
        <option value="Never_Ever">Never Ever</option>
        <option value="King_Game">King Game</option>
        <option value="Spin_Bottle">Spin The Bottle</option>
    </select>
    <input type="file" name="photo" />
    <input type="submit" value="Upload Image" name="submit" />
</form>
</body>
</html>