

//Analy Req: 5
// How much money admin making using tip.

.tip.partial.hide
  nav(class="container-fluid")
    .container-fluid
      .navbar-header
        .collapse.navbar-collapse
         br
         h3 Tip Earned By Admin
         br         
         br
         .form-group
          .col-lg-12
           .col-lg-10
            label(class="control-label") Amount:
           .col-lg-2
            {{tipEarned}}
