// Analy Req: 4
// Top 10 player of that agent which giving max drop.

.top10Agent.hide.partial
  nav(class="container-fluid")
    .container-fluid
      .navbar-header
        .collapse.navbar-collapse
         br
         br

         .form-group
          .col-lg-12
           .col-lg-5
            label(class="control-label") Agent Id
           .col-lg-7
            input(class="form-control" ng-model="top10PlayerData.agentId" type="text")

         br
         br
         
         .form-group
          .col-lg-12
           .col-lg-5
           .col-lg-7
            button(ng-click="getTop10PlayerDropForParticularAgent()" class="btn btn-primary") Click
         br
         br
         label(class="control-label") Top 10 Player
         br
         br
         table(class="table table-bordered")
          thead
           tr
            td Agent
            td Player
            td Drop Amount
           tbody
            tr(ng-repeat="drop in top10Playerdrops")
             td {{drop.transRcvr}}
             td {{drop.transInit}}
             td {{drop.money}}