// Analy Req: 3
// Top 20 player which  giving maximum drop with agent name.

.top20Drop.hide.partial
  nav(class="container-fluid")
    .container-fluid
      .navbar-header
        .collapse.navbar-collapse
         br
         h3 Top 20 player
         br
         label(class="control-label") {{message}}
         table(class="table table-bordered")
          thead
           tr
            td Player
            td Agent
            td Drop Amount
           tbody
            tr(ng-repeat="drop in top20PlayerDrop")
             td {{drop.transInit}}
             td {{drop.transRcvr}}
             td {{drop.money}}