.adminheader.header.hide
  ul(class="nav navbar-nav" id="navbar")
    li
      a()
        span#adminname
        | &nbsp;||
        span#admintoken
        | &nbsp;||
        span#adminaccbal
    li
        a(class="nav-link" ng-click="getAllRooms()") Manage Table
    li
        a(class="nav-link" ng-click="agent()") Create Agent
    li
        a(class="nav-link" ng-click="getAllAgents()") List Agent
    li
        a(class="nav-link" ng-click="fundTransferScr()") Fund Transfer
    li
        a(class="nav-link" ng-click="getPendingWithdraw()") Pending Withdrawal
    li
        a(class="nav-link" ng-click="getMyTransactions()") My Transaction
    li
        a(class="nav-link" ng-click="adminDrop()") Drop
    li
        a(class="nav-link" ng-click="agentDrop()") Agent Drop
    li
        a(class="nav-link" ng-click="tip()") Tip
    li
        a(class="nav-link" ng-click="top10Agent()") Top 10 Player
    li
        a(class="nav-link" ng-click="top20Drop()") Top 20 Drop
    li
        a(class="nav-link" ng-click="Logout()") Logout